# 1. Loading im.db as pd.df

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('data/im.db')
cursor = conn.cursor()

In [7]:
movie_basics_imdb = pd.read_sql('''
SELECT *
FROM movie_basics
''', conn)

movie_akas_imdb = pd.read_sql('''
SELECT *
FROM movie_akas
''', conn)

movie_rat_imdb = pd.read_sql('''
SELECT *
FROM movie_ratings
''', conn)

principals_imdb = pd.read_sql('''
SELECT *
FROM principals
''', conn)

known_4_imdb = pd.read_sql('''
SELECT *
FROM known_for
''', conn)

directors_imdb = pd.read_sql('''
SELECT *
FROM directors
''', conn)

writers_imdb = pd.read_sql('''
SELECT *
FROM writers
''', conn)

persons_imdb = pd.read_sql('''
SELECT *
FROM persons
''', conn)

# 2. Loading tn.movie_budgets as pd.df

In [8]:
tn_budgets = pd.read_csv('data/tn.movie_budgets.csv.gz')

# 3. Name of df Variables:

### imdb Variables (each variable is an individual table):
- persons_imdb
- principals_imdb
- known_4_imdb
- directors_imdb
- writers_imdb
- movie_basics_imdb
- movie_rat_imdb
- movie_akas_imdb

### tn.movie_budgets Variable:
- tn_budgets

# 4. .info() for all variables

In [96]:
#un-comment to look at info (can do one or multiple):


#persons_imdb.info()
#principals_imdb.info()
#known_4_imdb.info()
#directors_imdb.info()
#writers_imdb.info()
#movie_basics_imdb.info()
#movie_rat_imdb.info()
#movie_akas_imdb.info()

#tn_budgets.info()

# 5. Exploring individual df's:

### 5a. Exploring: movie_akas_imdb

In [27]:
movie_akas_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   movie_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [66]:
movie_akas_imdb['ordering'].value_counts()

1     122302
2      44686
3      41608
4      22586
5      15084
       ...
59         1
60         1
57         1
56         1
61         1
Name: ordering, Length: 61, dtype: int64

In [69]:
movie_akas_imdb["movie_id"].value_counts()

tt2488496    61
tt1201607    55
tt2310332    55
tt1790809    53
tt2278871    53
             ..
tt7039430     1
tt3684370     1
tt3893826     1
tt5859070     1
tt6151578     1
Name: movie_id, Length: 122302, dtype: int64

In [ ]:
#### ordering = 1 has the same length as indivitual movie_id's be the same length as unique movie_id

In [ ]:
movie['title']

In [30]:
movie_akas_imdb['region'].value_counts()

US      51490
XWW     18467
RU      13817
DE      11634
FR      10990
        ...
TM          1
CSHH        1
EH          1
SUHH        1
AI          1
Name: region, Length: 213, dtype: int64

In [87]:
m_akas_us = pd.read_sql('''
SELECT *
FROM movie_akas
WHERE region = 'US' AND ordering = 1
GROUP BY movie_id
''', conn)
m_akas_us.shape

(36453, 8)

In [83]:
len(m_akas_us['movie_id'].unique())

36453

### 5b. Exploring: movie_akas_imdb

In [71]:
movie_basics_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [75]:
movie_basics_imdb['movie_id'].value_counts()

tt1753511    1
tt3412702    1
tt8743340    1
tt6515342    1
tt1737630    1
            ..
tt1876400    1
tt1629320    1
tt2631596    1
tt2072137    1
tt5050876    1
Name: movie_id, Length: 146144, dtype: int64

In [85]:
m_basics = pd.read_sql('''
SELECT *
FROM movie_basics
WHERE length(movie_id) = 9
''', conn)
m_basics_us

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt1180174,1,Liberty,US,None,None,None,0.0
1,tt1189904,1,Small Town Hero,US,None,None,None,0.0
2,tt1210047,1,Snatched! Curse of the Pink Panties 2,US,None,alternative,None,0.0
3,tt1220221,1,Motherland,US,None,None,None,0.0
4,tt1226831,1,Spark Riders,US,None,None,None,0.0
...,...,...,...,...,...,...,...,...
36427,tt7385718,1,Conway Pride,US,None,None,None,0.0
36428,tt8855960,1,Straight Up,US,None,None,None,0.0
36429,tt8901666,1,The Journey Ahead,US,None,imdbDisplay,None,0.0
36430,tt9705860,1,Dusan Vukotic Croatian Oscar Winner,US,None,imdbDisplay,None,0.0
36431,tt9755806,1,Big Shark,US,None,None,None,0.0

In [97]:
akas_basics_merge = m_akas_us.merge(m_basics, on='movie_id',
                                        how='inner')
akas_basics_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36432 entries, 0 to 36431
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           36432 non-null  object
 1   ordering           36432 non-null  int64
 2   title              36432 non-null  object
 3   region             36432 non-null  object
 4   language           75 non-null     object
 5   types              1130 non-null   object
 6   attributes         499 non-null    object
 7   is_original_title  36428 non-null  float64
 8   primary_title      36432 non-null  object
 9   original_title     36432 non-null  object
 10  start_year         36432 non-null  int64
 11  runtime_minutes    29415 non-null  float64
 12  genres             35886 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 3.9+ MB

### 5c. Explored: movie_rat_imdb

In [95]:
movie_rat_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

 # Combining IMDB database

In [101]:
imdb_merged = akas_basics_merge.merge(movie_rat_imdb, on='movie_id',
                                       how='left')
imdb_merged

,movie_id,ordering,title,region,language,types,attributes,is_original_title,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0112502,1,Bigfoot,US,None,None,None,0.0,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32.0
1,tt0192528,1,Heaven & Hell,US,None,imdbDisplay,None,0.0,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,4.0,72.0
2,tt0230212,1,The Final Journey,US,None,None,None,0.0,The Final Journey,The Final Journey,2010,120.0,Drama,8.8,8.0
3,tt0255820,1,Return to Babylon,US,None,None,None,0.0,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",5.9,123.0
4,tt0297400,1,Snowblind,US,None,None,None,0.0,Snowblind,Snowblind,2015,NaN,"Crime,Drama",6.7,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36427,tt9814242,1,Homeless at 17,US,None,None,None,0.0,Homeless at 17,Homeless at 17,2019,NaN,Drama,NaN,NaN
36428,tt9815714,1,The Hard Way,US,None,None,None,0.0,The Hard Way,The Hard Way,2019,92.0,Action,4.7,1214.0
36429,tt9820914,1,Look Closer: The Rise and Fall of Robert Benfer,US,None,None,None,0.0,Look Closer: The Rise and Fall of Robert Benfer,Look Closer: The Rise and Fall of Robert Benfer,2018,46.0,Documentary,NaN,NaN
36430,tt9824512,1,A Wolf's Journey,US,None,alternative,None,0.0,L'Odyssée du Loup,L'Odyssée du Loup,2019,NaN,Documentary,NaN,NaN
36431,tt9915436,1,Life in Movement,US,None,alternative,None,0.0,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary,NaN,NaN

In [103]:
imdb_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36432 entries, 0 to 36431
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           36432 non-null  object
 1   ordering           36432 non-null  int64
 2   title              36432 non-null  object
 3   region             36432 non-null  object
 4   language           75 non-null     object
 5   types              1130 non-null   object
 6   attributes         499 non-null    object
 7   is_original_title  36428 non-null  float64
 8   primary_title      36432 non-null  object
 9   original_title     36432 non-null  object
 10  start_year         36432 non-null  int64
 11  runtime_minutes    29415 non-null  float64
 12  genres             35886 non-null  object
 13  averagerating      16840 non-null  float64
 14  numvotes           16840 non-null  float64
dtypes: float64(4), int64(2), object(9)
memory usage: 4.4+ MB

In [110]:
imdb_merged.drop(['language', 'attributes', 'types'], axis=1, inplace=True)

In [111]:
imdb_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36432 entries, 0 to 36431
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           36432 non-null  object
 1   ordering           36432 non-null  int64
 2   title              36432 non-null  object
 3   region             36432 non-null  object
 4   is_original_title  36428 non-null  float64
 5   primary_title      36432 non-null  object
 6   original_title     36432 non-null  object
 7   start_year         36432 non-null  int64
 8   runtime_minutes    29415 non-null  float64
 9   genres             35886 non-null  object
 10  averagerating      16840 non-null  float64
 11  numvotes           16840 non-null  float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.6+ MB

# 7 Exploring tn_budgets

In [105]:
tn_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [108]:
tn_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [107]:
tn_budgets['movie'].value_counts()

Halloween                        3
King Kong                        3
Home                             3
RoboCop                          2
Lolita                           2
                                ..
Lovely, Still                    1
Blue Like Jazz                   1
Standing Ovation                 1
Clay Pigeons                     1
The Texas Chainsaw Massacre 2    1
Name: movie, Length: 5698, dtype: int64